#banner,
#info {
    background-color: var(--page-background-color);
}

#banner span {
    color: #59459C;
}

#banner button {
    color: var(--color-button);
    background-color: var(--background-color-button);
    border: transparent;
}

#book>form>select {
    border-color: var(--border-color-form);
}

#book>form>button {
    color: var(--color-button);
    background-color: var(--background-color-button);
    border: transparent;
}

.fa-globe {
    color: #68BDD1;
}

.fa-headset {
    color: #59459C;
}

.fa-percent {
    color: #B3B3F4;
}

.fa-dollar-sign {
    color: #E0206E;
}