#banner h1,
#book h1 {
    margin: 50px 0px 50px 0px;
}

#banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
}

#banner-text {
    margin: 0px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#banner button {
    margin: 50px 0px 0px 0px;
    width: var(--width-form);
    height: var(--height-form);
    border-radius: var(--border-radius);
}

#banner-ill {
    width: 380px;
    height: 340px;
    margin: 20px 0px 20px 0px;
}

#book {
    display: flex;
    flex-direction: column;
    padding: 0px 100px 0px 100px;
}

#book>form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#book>form>select,
#book>form>button {
    margin-bottom: 50px;
    width: var(--width-form);
    height: var(--height-form);
}

#book>form>select {
    border: var(--border-select);
    border-radius: var(--border-radius);
}

#book>form>button {
    border-radius: var(--border-radius);
}

.book-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.fa-dollar-sign {
    width: 28px;
}

.book-text p {
    margin-bottom: 10px;
}

.book-text-col1,
.book-text-col2 {
    width: 50%;
}

#info {
    padding: 50px 100px 40px 100px;
}

#info p {
    margin: 20px 0px;
}