h1 {
    font-weight: var(--font-weight-h1);
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
}

#banner {
    font-size: var(--font-size-main-text);
}

#banner span {
    font-weight: bold;
}

button {
    font-size: var( --font-size-button);
}

.fa-globe,
.fa-percent,
.fa-headset,
.fa-dollar-sign {
    font-size: 28px;
    text-align: center;
}

.book-text {
    font-size: var(--font-size-main-text);
}

select {
    font-size: var(--font-size-select);
}

#book p {
    font-size: var(--font-size-main-text);
}

#info p {
    font-size: var(--font-size-text);
    text-align: justify;
}