/* Geometry */
#banner h1,
#book h1 {
    margin: 30px 0px 30px 0px;
}

#banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}

#banner-text {
    margin: 0px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#banner button {
    position: static;
    margin-top: 30px;
    width: 100%;
    height: var(--height-form);
    border-radius: var(--border-radius);
}

#banner-ill {
    display: none;
}

#book {
    display: flex;
    flex-direction: column;
    padding: 0px 50px 0px 50px;
}

#book>form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#book>form>select,
#book>form>button {
    margin-bottom: 30px;
    width: 100%;
    height: var(--height-form);
}

#book>form>select {
    border: var(--border-select);
    border-radius: var(--border-radius);
}

#book>form>button {
    border-radius: var(--border-radius);
}

.book-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.fa-dollar-sign {
    width: 28px;
}

.book-text p {
    margin-bottom: 10px;
}

.book-text-col1 {
    margin-right: 0px;
}

.book-text-col1,
.book-text-col2 {
    width: 100%;

}

#info {
    padding: 30px 50px 10px 50px;
}

#info p {
    margin: 20px 0px;
}