select,
input {
    cursor: pointer;
}

#button-content:hover {
    border-color: #68BDD1;
    cursor: pointer
}

#content-right button:hover {
    background-color: var(--hover-background-color-button);
    cursor: pointer
}

#selected:hover {
    background-color: var(--hover-background-color-button);
    cursor: pointer
    border: transparent;
    cursor: pointer
}

.item1-course button:hover {
    color: var(--color-button);
    background-color: var(--background-color-button);
    border: transparent;
    cursor: pointer
}