body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header a {
    font-size: 18px;
    text-decoration: none;
    color: black;
} 

.fa-user:before {
    font-size: 20px;
}

#content-left-l p:first-child {
    font-weight: bold;
    font-size: 20px;
}

#content>p:first-child{
    font-weight: bold;
font-size: 28px;
}

#content-left-l p,
#content-left-l ol {
    text-align: justify;
    font-size: 18px;
}

#buttom-item {
    font-size: 20px;
}

.item1-course>span {
    font-size: 18px;
}

.item1>span {
    font-size: 18px;
}

.item1>form {
    font-size: 18px;
}

#content-right-l>span:first-child {
    font-weight: bold;
    font-size: 20px;
}

#buttom-item1,
#buttom-item-1-active,
#buttom-item1-course,
#buttom-item-1-course {
    font-size: 18px;
}

#content-right-l>span {
    font-size: 20px;
}

.select-content-right {
    font-size: 18px;
}

#content-right-l>div>p {
    font-weight: bold;
    font-size: 20px;
}

#buttom-content {
    font-size: 20px;
}

#subscribe p:first-child {
    font-weight: bold;
    font-size: 28px;
}

#subscribe p {
    font-size: 18px;
    text-align: center;
}

.subscribe-col2 {
    text-align: center;
}

.email {
    font-size: 18px;
}

#footer {
    font-size: 18px;
}

#footer p:first-child {
    font-weight: bold;
}

#footer span {
    font-size: 14px;
}

.footer-col-3 select {
    font-size: 18px;
}