#content {
    background-color: var(--page-background-color);
}

#content-right button {
    color: var(--color-button);
    background-color: var(--background-color-button);
    border: transparent;
}

#content-right {
    background-color: white;
}

.item1 {
    background-color: white;
}

.item1,
.item1-course {
    background-color: white;
}

#button-content {
    background-color: white;
    color: #68BDD1;
}

#selected {
    color: var(--color-button);
    background-color: var(--background-color-button);
    border: transparent;
}

.item1-course button {
    background-color: white;
    color: #68BDD1;
}