body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header a {
    font-size: 18px;
    text-decoration: none;
    color: black;
} 

.fa-user:before {
    font-size: 20px;
}

#subscribe p:first-child {
    font-weight: bold;
    font-size: 28px;
}

#subscribe p {
    font-size: 18px;
    text-align: center;
}

.subscribe-col2 {
    text-align: center;
}

.email {
    font-size: 18px;
}

#footer {
    font-size: 18px;
}

#footer p:first-child {
    font-weight: bold;
}

#footer span {
    font-size: 14px;
}

.footer-col-3 select {
    font-size: 18px;
}