#content h1 {
    font-weight: var(--font-weight-h1);
    font-size: var(--font-size-h1);
}

#content h3 {
    font-weight: var(--font-weight-h3);
    font-size: var(--font-size-h3);
}

p,
ol,
span {
    font-size: var(--font-size-main-text);
    text-align: justify;
}

div.item1-course>form {
    font-size: var(--font-size-select)
}

.item1-course span {
    font-size: 18px;
}

#content-right select {
    font-size: var(--font-size-select);
}

button {
    font-size: var( --font-size-button);
}