#content {
    padding: 0px 100px 0px 100px;
}

#content h1 {
    margin: 50px 0px 50px 0px;
}

#content h2 {
    margin: 30px 0px 30px 0px;
}

#content-midle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

#content-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 50px;
}

#content-left h3 {
    margin: 0px 0px 30px 0px;
}

.item1 p {
    margin: 20px 0px;
}

.item1-course p {
    margin-top: 50px;
    margin-bottom: 20px;
}

div.item1-course>form {
    margin-top: 20px;
    margin-bottom: 20px;
}

#content-left ol {
    margin: 0px 0px 0px 20px;
}

.item1 {
    border-radius: var(--border-radius);
    padding: 30px;
}

.item1-course {
    position: relative;
    border-radius: var(--border-radius);
    padding: 30px;
    margin-top: 30px;
}

.item1-course button:last-child {
    position: absolute;
    right: 30px;
    bottom: 30px;
    border: var(--border-select);
}

.item1-course button:first-child {
    position: absolute;
    right: 260px;
    bottom: 30px;
    border: var(--border-select);
}

.item1-course button {
    margin: 30px 0px 0px 0px;
    width: 200px;
    height: var(--height-form);
    border-radius: var(--border-radius);
}

.item1-course span {
    margin-right: 20px;
}

div.item1>form {
    margin: 20px 0px;
}

#button-content {
    height: var(--height-form);
    width: 100%;
    border-radius: var(--border-radius);
    margin: 30px 0px 0px 0px;
    border: var(--border-select);
    border-color: white;
}

#content-right {
    width: 310px;
    height: 525px;
    padding: 30px 30px 30px 30px;
    border-radius: var(--border-radius);
}

#content-right h3,
#content-right p {
    display: inline;
}

#content-right select:last-child {
    margin-bottom: 70px;
}

#content-right select {
    width: var(--width-form);
    height: var(--height-form);
    border-radius: var(--border-radius);
    border: var(--border-select);
    border-color: var(--border-color-form);
    margin-top: 30px;
}

#content-right button {
    margin: 30px 0px 0px 0px;
    width: var(--width-form);
    height: var(--height-form);
    border-radius: var(--border-radius);
}