/* Geometry */
#footer {
    padding: 0px 50px 30px 50px;
}

#footer-col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

#footer h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

#footer p {
    margin-bottom: 10px;
}

.footer-col1 {
    display: inline;
    margin-right: 30px;
}

.footer-col2 {
    display: inline;
    margin-left: 0px;
    margin-right: 30px;
}

.footer-col3 {
    display: block;
    width: 100%;
    margin-top: 30px;
}

#footer select {
    width: 100%;
    height: var(--height-form);
    margin-bottom: 20px;
    border: var(--border-select);
    border-radius: var(--border-radius);
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-row span:first-child {
    margin-left: 0px;
}

.footer-row span {
    margin: 10px;
}

/* Colors */

#footer {
    background-color: var(--page-background-color);
}

#footer select {
    border-color: var(--border-color-form);
}