#logo-img {
    height: 50px;
    width: 55px;
    margin: 10px auto;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header a {
    margin-left: 0px;
}

#header a:last-child {
    margin: 10px 0px;
    padding: 0px;
}

/* Colors */

.fa-user {
    color: #59459C;
}

#header .header-active {
    color: #59459C;
}
