:root {
    --page-background-color: #E4F2F9;
    --width-form: 250px;
    --height-form: 50px;
    --background-color-button: #68BDD1;
    --color-button: white;
    --border-radius: 10px;
    --border-color-form: #8585DD;
}
