/* Geometry */
#subscribe {
    padding: 0px 50px 10px 50px;
    display: flex;
    justify-content: center;
}

.subscribe-1img,
.subscribe-2img {
    display: none;
}

#subscribe h1 {
    padding-top: 30px;
    margin-bottom: 20px;
}

#subscribe p {
    margin-bottom: 30px;
}

#subscribe form {
    position: relative;
}


#subscribe button {
    position: absolute;
    border: transparent;
    bottom: 40px;
    right: 20px;
}

.email {
    margin-bottom: 30px;
    width: 90%;
    height: var(--height-form);
    border-bottom: 2px solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

/* Colors */

#subscribe {
    background-color: white;
}

.email {
    border-color: var(--border-color-form);
}

#subscribe button {
    background-color: transparent;
    border-color: none;
}

.fa-envelope {
    color: #59459C;
}



