@media screen and (max-width: 880px) {
    #banner-ill {
        display: none;
    }
}

#banner-1,
#banner-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
}

#banner-1 h1,
#banner-2 h1,
#banner-3 h1 {
    margin: 50px 0px 10px 0px;
}

#banner-ill {
    width: 310px;
    height: 340px;
    margin: 20px 0px 20px 0px;
}

#banner-info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 50px 0px 50px 0px;
}

#banner-info>div {
    padding-right: 30px;
}

#banner-1 button,
#banner-2 button,
#banner-3 button {
    width: var(--width-form);
    height: var(--height-form);
    border-radius: var(--border-radius);
    margin-bottom: 50px;
}


#banner-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
}
