#banner-1 h1,
#banner-2 h1,
#banner-3 h1 {
    font-weight: var(--font-weight-h1);
    font-size: var(--font-size-h1);
}

#banner-1 p,
#banner-2 p,
#banner-3 p {
    font-size: var(--font-size-main-text);
}

#banner-1 p:last-child,
#banner-2 p:last-child,
#banner-3 p:last-child {
    font-size: var(--font-size-main-text);
    font-weight: bold;
}

button {
    font-size: var( --font-size-button);
}

