#header a:hover {
    color: #59459C;
}

#buttom-banner:hover {
    background-color: #0e98af;
    cursor: pointer
}

#buttom-book:hover {
    background-color: #0e98af;
    cursor: pointer
}

#buttom-request:hover {
    background-color: #0e98af;
    cursor: pointer
}

