#request select,
#request input {
    border-color: var(--border-color-form);
}

#banner,
#info {
    background-color: var(--page-background-color);
}

#request>form>select,
#request>form>input {
    border-color: var(--border-color-form);
}

#banner button,
#request button {
    color: var(--color-button);
    background-color: var(--background-color-button);
    border: transparent;
}