#banner {
    background-color: #E4F2F9;
}

#buttom-banner {
    color: white;
    border-color: transparent;
    background-color: #68BDD1;
}

#request-row select,
input,
#education {
    border-color: #8585DD;
    color: gray;
}

#buttom-request {
    color: white;
    border-color: transparent;
    background-color: #68BDD1;
}

#info {
    background-color: #E4F2F9;
}