.fa-user:before {
    color: #59459C;
}

#header .header-active {
    color: #59459C;
}

#banner {
    background-color: #E4F2F9;
}

#buttom-banner {
    color: white;
    border-color: transparent;
    background-color: #68BDD1;
}

#request-row select,
input,
#education {
    border-color: #8585DD;
    color: gray;
}

#buttom-request {
    color: white;
    border-color: transparent;
    background-color: #68BDD1;
}

#info {
    background-color: #E4F2F9;
}

.email {
    border-color: #8585DD;
    color: gray;
}

.footer-col-3 select {
    border-color: #8585DD;
}

#footer {
    background-color: #E4F2F9;
}