h1 {
    font-weight: var(--font-weight-h1);
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
}

button {
    font-size: var( --font-size-button);
}

#banner {
    font-size: var(--font-size-main-text);
}

#request select,
#request input {
    font-size: var(--font-size-select);
}

#info p,
#info ul,
 {
    font-size: var(--font-size-main-text);
    text-align: justify;
}