#banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 100px;
    padding-bottom: 20px;
}

.banner-ill {
    margin-right: 100px;
    margin-top: 30px;
    width: 386px;
    height: 340px;
}

#banner p:first-child {
    padding-top: 50px;
    padding-bottom: 50px;
}

#buttom-banner {
    width: 292px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 100px;
}

#request {
    margin-left: 100px;
    margin-right: 100px;
}

#request p {
    padding-top: 50px;
    padding-bottom: 30px;
}

#request-row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#request select,
#request input,
#education {
    width: 292px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0px;
}

#request-row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#request-row3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

#info h1:first-child {
    padding-top: 50px;
}

#info p:last-child {
    padding-bottom: 50px;
}

#info ul {
    margin-left: 120px;
}

#info p,
#info ul {
    padding-bottom: 15px;
}

#info h1 {
    padding-bottom: 20px;
}

#info h1,
#info p {
    margin-left: 100px;
    margin-right: 100px;
}





