button:hover {
    background-color: var(--hover-background-color-button);
    cursor: pointer
}

select,
input {
    cursor: pointer;
}

#button-content:hover {
    background-color: #68BDD1;
    color: white;
    border-color: #68BDD1;
    cursor: pointer
}