#content-left button:hover,
#content-right button:hover {
    background-color: var(--hover-background-color-button);
    cursor: pointer
}

select,
input {
    cursor: pointer;
}

#button-content:hover {
    border-color: #68BDD1;
    cursor: pointer
}