.fa-user:before {
    color: #59459C;
}

#header .header-active {
    color: #59459C;
}

.email {
    border-color: #8585DD;
    color: gray;
}

.footer-col-3 select {
    border-color: #8585DD;
}

#footer {
    background-color: #E4F2F9;
}