#content h1 {
    padding: 50px 0px;
}

#content-heading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--padding-main);
}

#content-heading select {
    width: var(--width-form);
    height: var(--height-form);
    border-radius: var(--border-radius);
    border: var(--border-select);
    border-color: var(--border-color-form);
    margin: 50px 0px;
}

#content-midle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 50px;
    padding: var(--padding-main);
}

#content-left {
    width: 310px;
    height: 800px;
    padding: 0px 30px 30px 30px;
    border-radius: var(--border-radius);
}

#content-left select:last-child {
    margin-bottom: 0px;
}

#content-left select {
    width: var(--width-form);
    height: var(--height-form);
    border-radius: var(--border-radius);
    border: var(--border-select);
    border-color: var(--border-color-form);
    margin-bottom: 30px;
}

#content-left h3 {
    margin: 30px 0px 30px 0px;
}

#content-left button {
    margin: 50px 0px 0px 0px;
    width: var(--width-form);
    height: var(--height-form);
    border-radius: var(--border-radius);
}

#content-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 50px;
    border-radius: var(--border-radius);
}

.button-item {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: var(--width-form);
    height: var(--height-form);
    border-radius: var(--border-radius);
}

.item {    
    position: relative;
    height: 18%;
    border-radius: var(--border-radius);
    margin-bottom: 30px;
    padding: 15px;
}

.item-1 span {
    margin-right: 40px;
}

.item-1>p,
.item-1>h3 {
    margin-bottom: 30px;
}

.item-2>h3 {
    position: absolute;
    right: 150px;
    top: 15px;
}

.item-2 p {
    position: absolute;
    right: 157px;
    top: 45px;
}

#button-content {
    height: var(--height-form);
    width: 100%;
    border-radius: var(--border-radius);
    margin-bottom: 50px;
    border: var(--border-select);
    border-color: white;
}