#header a:hover {
    color: #59459C;
}

#buttom-content:hover {
    background-color: #0e98af;
    cursor: pointer;
}

#buttom-content-item:hover {
    background-color: #0e98af;
    cursor: pointer;
}

select,
input {
    cursor: pointer;
}

#buttom-item:hover {
    border-color: #68BDD1;
    cursor: pointer;
}