#content {
    background-color: var(--page-background-color);
}

#content-left button,
.button-item {
    color: var(--color-button);
    background-color: var(--background-color-button);
    border: transparent;
}

#content-left {
    background-color: white;
}


.item-1>span {
    color: gray;
}


.item,
.item2 {
    background-color: white;
}

#button-content {
    background-color: white;
    color: #68BDD1;
    border-color: #68BDD1;
}