#content h1 {
    font-weight: var(--font-weight-h1);
    font-size: var(--font-size-h1);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
}

#content-heading select,
#content-left select {
    font-size: var(--font-size-select);
}

#content-left label {
    font-size: var(--font-size-select);
}

.button-item a {
    text-decoration: none;
}

button {
    font-size: var( --font-size-button);
}

.item-1>p:first-child,
.item-2>p:first-child {
    font-size: 20px;
    font-weight: bold;
}

.item-1>p,
.item-2>p {
    font-size: 18px;
}

.item-1>span {
    font-size: 14px;
}

#buttom-content-item {
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

#buttom-item {
    font-size: 20px;
}

#content-left p {
    font-weight: bold;
    font-size: 20px;
}

.item2 {
    font-size: var( --font-size-button);
}